body {
    margin: 0;
}

.top {
    background-color: rgb(14, 14, 43);
    padding-left: 100px;
    padding-right: 100px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.white {
    color: white;
}

.header_links {
    justify-content: space-between;
    align-self: center;
}

.header_links a {
    padding-left : 1cm;
}

a {
    text-decoration: none;
}

.off_white {
    color: rgba(245, 245, 245, 0.642);
}

.section1{
    flex-direction: row;
    display: flex;
    padding-bottom: 3cm;
    padding-top: 1cm;
}

.section1 .left {
    flex : 2 ;
    margin-right : 1cm ;
}

h1 {
    font-size : 40px ;
    margin-top: 0;
}

button {
    background-color: rgb(12, 116, 213);
    border: none;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-top: 0.1cm;
    padding-bottom: 0.1cm;
    border-radius: 6px;
}

.sign_up {
    justify-self: flex-end;
    align-self: flex-end;
}

.section1 .right {
    flex : 1 ;
    margin-left: 1cm;
}

.top img {
    height: 100%;
    width: 10cm;
    align-self: flex-end;
    justify-self: flex-start;
    background-color: rgb(255, 255, 255);
}

.section2 {
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 1cm;
}

.section2 h2 {
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.images_in_row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.images_in_row img {
    height: 3cm;
    width: 3cm;
    background-color: white;
    border-radius: 8px;
    border: 3px solid rgb(12, 116, 213);
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    padding-right: 50px;
}

figcaption {
    text-align: center;
    padding-top: 3px;
    color: rgba(79, 79, 79, 0.7);
}

.section3 {
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 3cm;
    padding-bottom: 3cm;
    background-color: rgb(233, 233, 233);
}

blockquote {
    margin: 0;
    font-size: 30px;
    color: rgba(55, 55, 55, 0.74);
}

p {
    text-align: right;
    font-weight: 900;
    font-size: 20px;
}